#header_filtros {
    background: #1BAEEC;
    text-align: center;
    display:block;
    float: left;
    color: #CFD1D1;
    height: 70px;
    width: 100%;

    #content_filtros {
        display:table-cell;
        vertical-align:middle;
        height: 70px;

    }
}

#paneles {
    height: 100%;
    #leftPanel {
        top: 140px;
        position: fixed;
        bottom: 0;
        height: 100%;
        z-index: 999;
        width: 250px;
        background-color: #1C2023;

        .corredor {
            cursor: pointer;
            background-color: #1C2023;
            font-size: 1em;
            padding: 8px;
            padding-left: 20px;
        }
        .corredor:hover {
            background-color: #282D33;
        }
        button{

            border: 0 none;
            border-radius: 15px;
            cursor: pointer;
            font-family: ewd;
            font-size: 8px;
            margin: 20px 0 0 80px;
            opacity: 0.3;
            padding: 5px 10px;
            text-align: middle;
            text-transform: uppercase;
        }
    }
}