@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/gotham.eot?#iefix") format("embedded-opentype"), url("fonts/gotham.woff2") format("woff2"), url("fonts/gotham.woff") format("woff"), url("fonts/gotham.ttf") format("truetype"), url("fonts/gotham.svg#Gotham") format("svg"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff"), url("fonts/OpenSans.ttf") format("truetype"), url("fonts/OpenSans.svg#Open Sans") format("svg"); }

@font-face {
  font-family: 'AvenirNext-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("fonts/AvenirNextLTPro-Bold.svg#AvenirNext-Bold") format("svg"); }

@font-face {
  font-family: 'AvenirNext-Demi';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("fonts/AvenirNextLTPro-Demi.svg#AvenirNext-Demi") format("svg"); }

@font-face {
  font-family: 'AvenirNext-Regular';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("fonts/AvenirNextLTPro-Regular.svg#AvenirNext-Regular") format("svg"); }

html, body {
  margin: 0px auto;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #282D33;
  font-size: 1em;
  color: #6C7480; }
  @media (max-width: 767px) {
    html, body {
      background-color: #ffffff; } }

#contenido #header {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: #1C2023;
  z-index: 999; }
  #contenido #header #logo {
    float: left;
    background: url("img/logo-ba-invertido.png") no-repeat left center;
    margin-left: 10px;
    width: 200px;
    height: 70px;
    cursor: pointer; }
  #contenido #header #status {
    font-size: 0.8em;
    float: right;
    font-family: "AvenirNext-Demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 10px;
    text-transform: uppercase;
    line-height: 70px; }

#paneles {
  height: 100%; }
  #paneles #leftPanel {
    top: 70px;
    position: fixed;
    bottom: 0;
    height: 100%;
    background-color: #1C2023;
    z-index: 999;
    width: 250px; }
    #paneles #leftPanel .corredor {
      cursor: pointer;
      background-color: #1C2023;
      font-size: 1em;
      padding: 8px;
      padding-left: 20px;
      border-left: 10px solid #6C7480; }
    #paneles #leftPanel .corredor:hover {
      background-color: #282D33; }
    #paneles #leftPanel .icono {
      height: 20px;
      width: 20px;
      float: right; }
    #paneles #leftPanel .iconoGris {
      background: url("img/vistoGris.svg") no-repeat center center; }
    #paneles #leftPanel .iconoAzul {
      background: url("img/enproceso.svg") no-repeat center center; }
    #paneles #leftPanel .iconoRojo {
      background: url("img/novisto.svg") no-repeat center center; }
  #paneles #rightPanel {
    top: 70px;
    left: 250px;
    position: fixed;
    width: 100%;
    height: 100%; }

#mapa {
  height: 100%;
  width: 100%; }

#cuadroOperador {
  width: 100%;
  display: relative; }
  #cuadroOperador .filaPanel {
    font-size: 12px;
    padding: 0px 10px 5px 10px; }
    #cuadroOperador .filaPanel .datoPanel {
      float: right;
      color: #CFD1D1; }
  #cuadroOperador .filaPanel:hover {
    background-color: #383D43; }
  #cuadroOperador #corredores {
    background-color: #1C2023;
    float: left;
    height: 330px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    min-width: 700px; }
    #cuadroOperador #corredores .flecha {
      float: right;
      height: 16px;
      margin-top: 35px;
      margin-right: 60px;
      width: 26px; }
    #cuadroOperador #corredores .provincia {
      background-image: url("img/provincia.svg"); }
    #cuadroOperador #corredores .capital {
      background-image: url("img/capital.svg"); }
    #cuadroOperador #corredores #aviso {
      text-align: center;
      font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: #6C7480;
      line-height: 100px;
      width: 600px;
      top: -25px;
      position: relative; }
    #cuadroOperador #corredores .etiquetasProvincia {
      border-top: 1px solid #282D33; }
    #cuadroOperador #corredores .etiquetasCapital, #cuadroOperador #corredores .etiquetasProvincia, #cuadroOperador #corredores .corredoresCapital, #cuadroOperador #corredores .corredoresProvincia, #cuadroOperador #corredores #panelesCapital, #cuadroOperador #corredores #panelesProvincia {
      display: table;
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 5px;
      width: 600px; }
      #cuadroOperador #corredores .etiquetasCapital .izq, #cuadroOperador #corredores .etiquetasProvincia .izq, #cuadroOperador #corredores .corredoresCapital .izq, #cuadroOperador #corredores .corredoresProvincia .izq, #cuadroOperador #corredores #panelesCapital .izq, #cuadroOperador #corredores #panelesProvincia .izq {
        text-align: left; }
      #cuadroOperador #corredores .etiquetasCapital .cen, #cuadroOperador #corredores .etiquetasProvincia .cen, #cuadroOperador #corredores .corredoresCapital .cen, #cuadroOperador #corredores .corredoresProvincia .cen, #cuadroOperador #corredores #panelesCapital .cen, #cuadroOperador #corredores #panelesProvincia .cen {
        text-align: center; }
      #cuadroOperador #corredores .etiquetasCapital .der, #cuadroOperador #corredores .etiquetasProvincia .der, #cuadroOperador #corredores .corredoresCapital .der, #cuadroOperador #corredores .corredoresProvincia .der, #cuadroOperador #corredores #panelesCapital .der, #cuadroOperador #corredores #panelesProvincia .der {
        text-align: right; }
      #cuadroOperador #corredores .etiquetasCapital .nombreCorredor, #cuadroOperador #corredores .etiquetasProvincia .nombreCorredor, #cuadroOperador #corredores .corredoresCapital .nombreCorredor, #cuadroOperador #corredores .corredoresProvincia .nombreCorredor, #cuadroOperador #corredores #panelesCapital .nombreCorredor, #cuadroOperador #corredores #panelesProvincia .nombreCorredor {
        display: table-cell;
        font-family: "AvenirNext-Demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px; }
      #cuadroOperador #corredores .etiquetasCapital .corredor, #cuadroOperador #corredores .etiquetasCapital .panel, #cuadroOperador #corredores .etiquetasProvincia .corredor, #cuadroOperador #corredores .etiquetasProvincia .panel, #cuadroOperador #corredores .corredoresCapital .corredor, #cuadroOperador #corredores .corredoresCapital .panel, #cuadroOperador #corredores .corredoresProvincia .corredor, #cuadroOperador #corredores .corredoresProvincia .panel, #cuadroOperador #corredores #panelesCapital .corredor, #cuadroOperador #corredores #panelesCapital .panel, #cuadroOperador #corredores #panelesProvincia .corredor, #cuadroOperador #corredores #panelesProvincia .panel {
        display: table-cell; }
      #cuadroOperador #corredores .etiquetasCapital .panel, #cuadroOperador #corredores .etiquetasProvincia .panel, #cuadroOperador #corredores .corredoresCapital .panel, #cuadroOperador #corredores .corredoresProvincia .panel, #cuadroOperador #corredores #panelesCapital .panel, #cuadroOperador #corredores #panelesProvincia .panel {
        height: 20px;
        min-width: 20px;
        position: relative;
        top: -9px; }
      #cuadroOperador #corredores .etiquetasCapital .panel div, #cuadroOperador #corredores .etiquetasProvincia .panel div, #cuadroOperador #corredores .corredoresCapital .panel div, #cuadroOperador #corredores .corredoresProvincia .panel div, #cuadroOperador #corredores #panelesCapital .panel div, #cuadroOperador #corredores #panelesProvincia .panel div {
        pointer-events: none; }
      #cuadroOperador #corredores .etiquetasCapital .panel:hover, #cuadroOperador #corredores .etiquetasProvincia .panel:hover, #cuadroOperador #corredores .corredoresCapital .panel:hover, #cuadroOperador #corredores .corredoresProvincia .panel:hover, #cuadroOperador #corredores #panelesCapital .panel:hover, #cuadroOperador #corredores #panelesProvincia .panel:hover {
        cursor: pointer;
        background-color: #282D33; }
      #cuadroOperador #corredores .etiquetasCapital .segmento, #cuadroOperador #corredores .etiquetasProvincia .segmento, #cuadroOperador #corredores .corredoresCapital .segmento, #cuadroOperador #corredores .corredoresProvincia .segmento, #cuadroOperador #corredores #panelesCapital .segmento, #cuadroOperador #corredores #panelesProvincia .segmento {
        height: 16px;
        font-size: 8px;
        text-align: center; }
  #cuadroOperador #edicion {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #1C2023;
    float: left;
    height: 330px;
    width: 215px; }
  #cuadroOperador .tuerca {
    background: url("img/editar.svg") no-repeat right center;
    width: 20px;
    height: 20px;
    float: right; }
  #cuadroOperador #seleccioneTrayecto {
    padding-top: 25px;
    color: #CFD1D1;
    height: 165px;
    padding-top: 120px;
    position: fixed;
    text-align: center;
    width: 215px;
    background-color: #1C2023; }
  #cuadroOperador #oculta {
    border-top: 1px solid #CFD1D1;
    padding-top: 44px;
    color: #CFD1D1;
    height: 115px;
    padding-top: 70px;
    position: fixed;
    text-align: center;
    width: 215px;
    background-color: #1C2023;
    display: none; }
  #cuadroOperador .titulo {
    font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    color: #CFD1D1;
    width: 100%;
    border-bottom: 1px solid #CFD1D1;
    padding-bottom: 4px;
    margin-bottom: 4px; }
  #cuadroOperador .subtitulo, #cuadroOperador label {
    font-family: "AvenirNext-Demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: #CFD1D1;
    text-transform: uppercase; }
  #cuadroOperador .dato {
    font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #6C7480; }
  #cuadroOperador .fila {
    display: table;
    margin: 5px auto;
    width: 95%; }
    #cuadroOperador .fila .izquierda {
      float: left;
      width: 50%; }
    #cuadroOperador .fila .derecha {
      float: right;
      width: 50%; }
  #cuadroOperador .inputs {
    text-align: right; }
  #cuadroOperador select {
    float: right;
    padding: 5px;
    font-size: 12px;
    margin-left: 13px;
    width: 150px;
    border: 0;
    background-color: #282D33;
    color: #CFD1D1;
    border-radius: 3px; }
  #cuadroOperador textarea {
    font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #282D33;
    color: #CFD1D1;
    font-size: 12px;
    resize: none;
    width: 99%;
    border: 0;
    border-radius: 3px; }
  #cuadroOperador input {
    cursor: pointer;
    background-color: transparent;
    color: #CFD1D1;
    border: 2px solid #CFD1D1;
    border-radius: 15px;
    font-size: 12px;
    font-family: "AvenirNext-Demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px 10px 5px 10px; }
  #cuadroOperador input:hover {
    background-color: #282D33; }
  #cuadroOperador input:disabled {
    cursor: not-allowed;
    color: #6C7480;
    border: 2px solid #6C7480; }
  #cuadroOperador #mensajeStatus_frm {
    float: left; }

.corredorActivo {
  color: #fafafa !important; }

.estado0 {
  background-color: #282D33; }

.estado1 {
  background-color: #ff8f00; }

.estado2 {
  background-color: #e53935; }

.estado3 {
  background-color: #e53935; }

.borde1 {
  border-color: #ff8f00 !important; }

.borde2 {
  border-color: #e53935 !important; }

.borde3 {
  border-color: #e53935 !important; }

.shadow {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1); }

.shadow:hover {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); }

#salir {
  cursor: pointer;
  background-color: transparent;
  color: #CFD1D1;
  border: 2px solid #CFD1D1;
  border-radius: 15px;
  font-size: 12px;
  font-family: "AvenirNext-Demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 10px 5px 10px;
  margin-left: 20px; }

#salir:hover {
  background-color: #282D33; }
