body.planificacion {
  background: url(img/mapa-blanco.png) center center/cover no-repeat; }

.planificacion #header_filtros {
  z-index: 999;
  background: #1BAEEC;
  text-align: center;
  display: block;
  float: left;
  color: #CFD1D1;
  height: 60px;
  width: 100%;
  top: 70px;
  position: absolute; }
  .planificacion #header_filtros #content_filtros {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    padding-left: 20px; }
  .planificacion #header_filtros select {
    float: none;
    margin-right: 10px;
    color: #FFF; }
  .planificacion #header_filtros label {
    color: #FFF; }
.planificacion #paneles #leftPanel {
  top: 130px;
  width: 280px;
  height: auto;
  overflow: scroll;
  padding-top: 8px; }
  .planificacion #paneles #leftPanel .graficos {
    cursor: pointer;
    background-color: #1C2023;
    font-size: 1em;
    padding: 8px;
    padding-left: 20px; }
  .planificacion #paneles #leftPanel .graficos:hover, .planificacion #paneles #leftPanel .graficos.selected {
    background-color: #282D33; }
.planificacion #paneles #rightPanel {
  top: 130px;
  left: 280px;
  width: 76%;
  overflow: scroll; }
.planificacion h2 {
  font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  color: #000;
  border-bottom: 1px solid #CFD1D1;
  padding-bottom: 4px;
  margin-bottom: 4px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  text-align: left; }
.planificacion .graficos_por_nombre {
  margin: 20px;
  width: 100%; }
  .planificacion .graficos_por_nombre span {
    border-radius: 5px;
    background-color: #FFF;
    padding: 10px;
    display: inline-block;
    width: 600px;
    margin: 5px; }
  .planificacion .graficos_por_nombre.dos_columnas span {
    width: 500px; }
  .planificacion .graficos_por_nombre.tres_columnas span {
    width: 500px; }
.planificacion #entry {
  margin: 0 auto; }
.planificacion embed {
  padding-top: 20px; }
