import os

if os.environ.get('OPENSHIFT_MYSQL_DIR'):
    mysql = dict(
        user=os.environ.get('OPENSHIFT_MYSQL_DB_USERNAME'),
        password=os.environ.get('OPENSHIFT_MYSQL_DB_PASSWORD'),
        host=os.environ.get('OPENSHIFT_MYSQL_DB_HOST'),
        db='dashboardoperativo'
    )
else:
    db = dict(
        engine='mysql',
        user='root',
        password='password',
        host='localhost',
        db='dashboardoperativo'
    )
    db_url = db['engine'] + "://" + db['user'] + ":" + \
        db['password'] + "@" + db['host'] + "/" + db['db']